<div class="container-fluid">
  <div class="row home-row-one">
    <div class="col-md-4 col-xs-4" >
      <%= image_tag asset_path("dalo.jpg"), :class => "img-responsive" ,:id=>'' %>
    </div>
    <div class="col-md-8 col-xs-8 home-content">
    <h3 style="color: #3D86C6; border-bottom: 1px solid #3D86C6;">Tata Communications - Radius Server Management Portal </h3>
      <p>DaloRADIUS is an advanced RADIUS web platform aimed at managing Hotspots and general-purpose ISP deployments. It features rich user management, graphical reporting, accounting, and integrates with GoogleMaps for geo-locating (GIS). daloRADIUS is written in PHP and JavaScript and utilizes a database abstraction layer which means that it supports many database systems, among them the popular MySQL, PostgreSQL, Sqlite, MsSQL, and many others.</br></br>

      It is based on a FreeRADIUS deployment with a database server serving as the backend. Among other features it implements ACLs, GoogleMaps integration for locating hotspots/access points visually and many more features. daloRADIUS is essentially a web application to manage a radius server so theoretically it can manage any radius server but specifically it manages FreeRADIUS and it's database structure. Since version 0.9-3 daloRADIUS has introduced an application-wide database abstraction layer based on PHP's PEAR::DB package which support a range of database servers.</p>
    </div>
  </div>
</div>