<!-- <footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer> -->
<footer style="position: fixed ;bottom: 0; left: 40%;">
  <h6 style="color:#3D86C6;text-align: center;">© 2017 Tata Communications Ltd. All rights reserved.</h6>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../assets/bootstrap.js"></script>
